# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
/node_modules
/*/node_modules

# Build/output directories
/out/
/dist/
/*/out
/*/dist
/wasm-webcomponent-webview-sample/dist/
/wasm-component-model/out/
/wasm-component-model/target/
/wasm-webcomponent-webview-sample/target/

# TypeScript
*.tsbuildinfo

# Rust/Cargo
target/
/*/target/

# VS Code
.vscode-test/
.history/
*.vsix
